* {
  margin: 0;
}

.background {
  background-color: sandybrown;
  height: 100vh
}

#calculatorBody {
  width: 350px;
  height: 600px;
  /* border: 3px solid black; */
  /* background: rgb(243, 243, 243); */
  background: beige;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 0 20px 0;
  flex-direction: column;
  /* flex-wrap: wrap; */
  box-shadow: 0 20px 10px 2px rgba(0, 0, 0, 0.2);
}

.displayArea {
  width: 330px;
  height: 180px;
  /* border: 3px solid grey ; */
  /* color: rgb(255, 169, 103); */
  background: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 30px; */
  /* flex-grow: 0;
  flex-direction: column; */
  /* padding: 10px 1px 10px 1px; */
  padding: 30px 0 10px 0;
}

#displayWindowOuter {
  height: 120px;
  width: 280px;
  border: 2px solid whitesmoke;
  flex: 0 0 auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  min-width: 0;
}

#displayWindow::-webkit-scrollbar {
  display: none;
}

#displayWindow {
  display: flex;
  width: 140px;
  height: 50px;
  min-width: 0;
  /* border: 2px solid orange; */
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  flex: 0 0 auto;
  padding: 0 10px 0 10px;
  background: midnightblue;
  color: cyan;
  box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.5);
  overflow: scroll;
  font-family: Courier New, sans-serif;
}

#buttonArea {
  width: 300px;
  height: auto;
  /* border: 3px solid green; */
  background: dimgray;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 15px 15px 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* border: 2px solid green; */
  min-width: 0;
  align-items: flex-start;
  gap: 3px;
}

#buttonRow0,
#buttonRow1,
#buttonRow2,
#buttonRow3 {
  display: flex;
  flex: 1 1 100%;
  /* border: 2px solid red; */
  min-width: 0;
}

.numberButton,
.operatorButton,
.placeHolder,
.operateNow,
.clearKey,
.clearAll,
.decimalButton,
.posNeg,
.decimalShift {
  /* border: 3px solid black; */
  flex: 1 1 100%;
  text-align: center;
  border-radius: 15px;
  align-self: center;
  padding: 15px 0;
  margin: 5px;
  min-width: 0;
  font-size: 20px;
  font-family: sans-serif;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.5);
}

.numberButton,
.decimalButton {
  background: beige;
  color: black;
}

.operatorButton,
.operateNow,
.clearKey,
.clearAll,
.placeHolder,
.posNeg,
.decimalShift {
  background-color: dodgerblue;
  color: beige;

}

#− {
  background: crimson;
}

